body {
    font-family: sans-serif;
    background: #f5f5f5;
    padding: 40px;
    width: 90%;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background: white;
    padding: 10px;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
